body{
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}
button:hover{
    background-color: orange;
}
#verticalButtons{
    display: flex;
    flex-direction: column;
}
#carCanvas{
    background: #1e1e1e;
}
#networkCanvas{
    background: black;
}